.card {
  background-color: #5398c7 !important;
  border: #5398c7 !important;
  box-shadow: 2px 2px 5px rgba(57, 57, 58, 0.3);
}
.card-header {
  padding: 5px 8px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.card-body {
  padding: 25px !important;
}
.card-text {
  text-align: justify;
}
.content {
  text-align: center;
}

.content-body {
  padding: 10vh 30vh;
}

.content-btn {
  margin: 20px !important;
  width: 20rem !important;
  background-color: #1a77b4 !important;
  border: #9b9b99 !important;
  /* box-shadow: 2px 2px 5px rgba(33, 119, 233, 0.3); */
}
.content-btn:hover {
    box-shadow: 3px 3px 6px rgba(33, 119, 233, 0.3);
  }
.content-card {
  padding: 10px !important;
}

.footer {
  background-color: #eff2f4;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.header {
  background-color: #eff2f4;
  padding: 50px 0;
  text-align: center;
}

.row {
    --bs-gutter-x: 0 !important;
}

/* Media query for screens smaller than 1024px */
@media (max-width: 1300px) {
  .content-body {
    padding: 5vh 5vh;
  }
}
